/* *{padding:0;margin:0;}

body{
    background-image: url("assets/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
} */

.background{
    z-index: 1;
    display:flex;
    height:500px;
    justify-content: center;
    background-image: url(/assets/basecampbg.PNG);
    background-repeat:no-repeat;
    background-position: center;
  }

  #char1{
    position:relative;
    display:flex;
    z-index: 6;
    display: none;
    left:200px;
    top:250px;
    height:200px;
  }

.optionBoxes{
    position:relative;
    z-index: 7;
    display:flex;
    justify-content:center;
    bottom:140px;
	right:80px;
    max-width: 150px;
    max-height: 30px;
    border-radius:10px;
    width:260px;
	height:60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(7, 7, 7);
	color:rgb(169, 141, 175);
	text-align:center;
    align-items:center;
	box-shadow: 2px 2px 3px rgb(116, 64, 146);
    cursor:pointer;
    animation: fadeIn ease 10s;
}

.optionBox1{
    left: 275px;
	right: 80px; 
  }

.optionBox2{
    left: 395px;
    right: 10px;
  }

.narratorBox{
    position:relative;
    z-index: 4;
    display:flex;
    justify-content:center;
    width:50%;
    height: 130px;
    border-radius:10px;
    background-color: black;
    opacity: 50%;
}

.narratorText{
    color: Pink; 
    font-family: "Courier";
    font-size: 15px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 2s steps(60, end); 
}
 
@keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* .inventoryBg{
    position:relative;
    z-index:3;
    display:flex;
    bottom: 400px;
    left: -350px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width:175px;
    height:50px;
    background-image: url(/assets/char3.jpg);
  }

  .inventoryItems{
    border-radius:5px;
    border-color:red solid 1px;
  }
 */

 #chardiv{
    position:relative;
    z-index: 5;
    display:flex;
    top:250px;
    left:30px;
    width:50px;
    height:50px;
    border-radius:10px;
    opacity: 50%;
    border: 3px solid red;
 }

 