body{
  background-color:black;
}

.background{
    display:static;
    height:500px;
    background-image: url(/assets/camp1.PNG);
    background-repeat:no-repeat;
    background-color: black;
  }

  #shroomie2div{
    position: absolute;
    z-index: 4;
    top: 210px;
    left: 50px;
    bottom: 300px;
    display:block;
    opacity: 20%;
    width: 50px;
    height: 50px;
    cursor:pointer;
   }

 .shroomie1{
  position:absolute;
  z-index:7;
  top: 100px;
  right: 200px;
  left: 600px;
  display: none;
  height: 50px;
  width: 50px;
  background-image:url(/assets/ShroomHun.PNG);
}




  #char1{
    position:absolute;
    top: 90px;
    right: 500px;
    display:block;
    z-index: 6;
    height:200px;
  }

.optionBoxes{
    position:absolute;
    z-index: 7;
    display:inline-block;
    top: 340px;
    width:260px;
	  height:60px;
    max-width: 150px;
    max-height: 30px;
    border-radius:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(7, 7, 7, 0.504);
	  color:rgb(146, 138, 95);
	  text-align:center;
    align-items:center;
	  box-shadow: 2px 2px 3px rgba(42, 47, 41, 0.918);
    cursor:pointer;
    animation: fadeIn ease 10s;

}

.optionBox1{
    left: 100px;
  }

.optionBox2{
    right: 100px;
    left:300px;
  }
.optionBox3{
  left:100px;
  display:none;
}

.optionBox4{
  left:300px;
  right:100px;
  display:none;
}

.optionBox5{
  left:200px;
  display:none;
}


.NarratorBox{
  position:absolute;
  top: 220px;
  right: 40px;
  bottom: 100px;
  left: 50px;
  display:block;
}

 .NarratorText{
  position:absolute;
  top: -25px;
  display:block;
  align-items: center;
  color: Pink; 
  font-family: "Courier";
  font-size: 12px;
  margin: 10px 0 0 10px;
  white-space:normal;
  padding-top: 50px;
  padding-left:3px;
  overflow: hidden;
  width: 33em;
  max-height: 100px;
  animation: fadeIn ease 3s;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


button{
  background-color:transparent;
  border:none;
  color: pink;
  font-size: 12px;
}


#invContainer{
  position:absolute;
  z-index:3;
  top: 7px;
  left: 510px;
  background-image: url(/assets/inventory.png);
  background-repeat: no-repeat;
  width: 90%;
  height: 390px;
  
}

.shroomie1{
  position:absolute;
  z-index:7;
  top: 100px;
  right: 200px;
  left: 600px;
  display: none;
  height: 50px;
  width: 50px;
  background-image:url(/assets/HunShroomie.PNG);
}

#shroomie2{
  position: absolute;
  z-index: 4;
  top: 210px;
  left: 550px;
  bottom: 300px;
  display:none;
  opacity: 80%;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: url(./assets/ShroomSle.PNG)

}