body{
    background:black;
  }
  
  .background{
    display:static;
    height:500px;
    background-image: url(/assets/thedoor.PNG);
    background-repeat:no-repeat;
    background-color: black;
  }
  
  button{
    position: absolute;
    top: 100px;
    left: 190px;
    background-color:transparent;
    border:none;
    font-family: 'gloria hallelujah';
    color: pink;
    font-size: 20px;
    cursor: pointer;
  }

  #endScreen{
    position: absolute;
    z-index:8;
    display: none;
    width: 500px;
    height: 400px;
    background-image: url(./assets/title.PNG);
    animation: fadeIn ease 3s;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


  #endText{
    position: absolute;
    z-index: 9;
    top: 150px;
    left: 75px;
    display: none;
    width: 300px;
    height: 200px;
    text-align: center;
    color: rgb(132, 161, 58);
    animation: fadeIn ease 3s;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

p{
    color:rgb(123, 123, 123);
}
