.introImg{
  position: absolute;
  z-index:1;
  top: 50px;
  right: 200px;
  display:block;
  width: 400px;
  height: 400px;
  background-image: url('./assets/IMG_1372.PNG');
  background-repeat: no-repeat;
  background-size:cover;

}


.start{
  position: absolute;
  z-index:2;
  top: 400px;
  right: 300px;
  display: block;
  width: 100px;
  height: 20px;
  background-color: transparent;

}