

.background{
  display:static;
  height:500px;
  background-image: url(/assets/basecampbg.PNG);
  background-repeat:no-repeat;
  background-color: black;
}


button{
  position: absolute;
  z-index:2;
  top: 300px;
  right: 600px;
  width: 100px;
  height: 20px;
  background-color: transparent;
  border:none;
  cursor:pointer;

}